# IDE files
.classpath
.project
.settings/
.gradle/
.idea
clank.iml

# Configs
config/*
!config/*.json.example

# Logs
logs/

# Custom plugins (closed-source)
!plugins/README.md
plugins/*

# Bins
target/
build/
bin/
clank.jar
