{
	"mode": "DME_SERVER",
	"log_level": "INFO",
	"file_log_level": null,
	"address": "172.16.221.250",
	"udp_address": "172.16.221.250",
	"port": 10079,
	"udp_port": 50001,
	"rpc": {
		"address": null,
		"port": 8484
	},
	"encryption": false,
	"capacity": 200,
	"timeout": 15000,
	"parent_threads": 1,
	"child_threads": 4,
	"udp_threads": 8,
	"application_id": 10684
}
