####################
# Clank DME Server #
####################

#################
# Logging Level #
#################
# Sets the logging verbosity level.
#
# - FINEST = Most verbose, show all messages.
# - FINER = More verbose than fine.
# - FINE = Mainly used for debugging info.
# - INFO = Show only informational messages.
# - WARNING = Show only warnings.
# - SEVERE = Show only fatal/error errors.
#
LogLevel=INFO


#########################
# Server Emulation Mode #
#########################
# Emulation mode/component of this server.
#
# - MEDIUS_AUTHENTICATION_SERVER
# - MEDIUS_LOBBY_SERVER
# - MEDIUS_PROXY_SERVER
# - MEDIUS_UNIVERSE_INFORMATION_SERVER
# - NAT_SERVER
# - DME_SERVER
#
EmulationMode=DME_SERVER


###################
# Server Bindings #
###################
# The server address and port to bind to. Leave address empty to bind
# to any address. The UDP port is the starting UDP port and will
# increment by x number of games currently in session.
#
TcpAddress=
TcpPort=10079
UdpAddress=
UdpPort=50000


#####################
# Enable Encryption #
#####################
# Enable and enforce SCE-RT (RSA + RC4) encryption.
# This should always be enabled in a production environment.
#
Encryption=false


############
# Capacity #
############
# Number of concurrent clients connected but not migrated to the MLS server.
#
Capacity=1000


##################
# Client Timeout #
##################
# Number of seconds before a client is disconnected/"timed out" for not
# sending an echo response. By default this is set to 15.
#
ClientTimeout=15


##################
# Application ID #
##################
# The game's App Id located in the ISO.
#
# NTSC UYA Application Id = 10684
# PAL UYA Application Id = 10683
# NSTC DL Application Id = 24802
#
ApplicationId=10684


##################
# Server Threads #
##################
# Number of socket handlers and async handlers for handling incoming data.
#
ServerThreads=4


####################
# Discord Webhooks #
####################
# This is an optional setting for shooting specific events to Discord
# Webhooks. Leave blank to disable.
DiscordWebhook_start=
DiscordWebhook_shutdown=
