{
	"mode": "MEDIUS_AUTHENTICATION_SERVER",
	"log_level": "INFO",
	"file_log_level": null,
	"address": "192.168.1.3",
	"port": 10075,
	"encryption": true,
	"capacity": 200,
	"timeout": 15000,
	"parent_threads": 1,
	"child_threads": 4,
	"max_login_attempts": 20,
	"max_accounts_per_ip": 6,
	"username_blacklist": null,
	"application_id": 10684,
	"mls": {
		"address": "192.168.1.4",
		"port": 10078
	},
	"nat": {
		"address": "192.168.1.5",
		"port": 10077
	},
	"whitelist": {
		"enabled": true,
		"players": {
			"exampleUsername": "examplePassword",
			"hashsploit": "hashpass",
			"fourbolt": "fourpass"
		}
	},
	"channels": [
		{
			"id": 1,
			"name": "Channel 1",
			"capacity": 256
		},
		{
			"id": 2,
			"name": "Channel 2",
			"capacity": 256
		},
		{
			"id": 3,
			"name": "Channel 3",
			"capacity": 256
		},
		{
			"id": 4,
			"name": "Channel 4",
			"capacity": 256
		}
	],
	"locations": [
		{
			"id": 1,
			"name": "Location 1"
		},
		{
			"id": 2,
			"name": "Location 2"
		}
	],
	"system_message": {
		"enabled": false,
		"severity": 200,
		"message": ""
	},
	"rpc": {
		"address": "127.0.0.1",
		"port": 8484
	}
}

