{
	"mode": "MEDIUS_AUTHENTICATION_SERVER",
	"log_level": "INFO",
	"file_log_level": null,
	"address": "172.16.221.250",
	"port": 10075,
	"encryption": false,
	"capacity": 200,
	"timeout": 15000,
	"parent_threads": 1,
	"child_threads": 4,
	"max_login_attempts": 20,
	"application_id": 10684,
	"mls": {
		"address": "172.16.221.250",
		"port": 10078
	},
	"nat": {
		"address": "172.16.221.250",
		"port": 10077
	},
	"whitelist": {
		"enabled": true,
		"players": {
			"exampleUsername": "examplePassword",
			"hashsploit": "hashpass",
			"fourbolt": "fourpass"
		}
	},
	"locations": [
		{
			"id": 1,
			"name": "Location 1"
		},
		{
			"id": 2,
			"name": "Location 2"
		}
	],
	"system_message": {
		"enabled": false,
		"severity": 200,
		"message": ""
	},
	"rpc": {
		"address": "172.16.221.250",
		"port": 8484
	}
}

