{
	"mode": "MEDIUS_LOBBY_SERVER",
	"log_level": "INFO",
	"file_log_level": null,
	"file_log_size": 0,
	"address": null,
	"port": 10078,
	"encryption": false,
	"capacity": 200,
	"timeout": 15000,
	"parent_threads": 1,
	"child_threads": 4,
	"application_id": 10684,
	"nat": {
		"address": "172.16.221.250",
		"port": 10070
	},
	"dme": {
		"address": "172.16.221.250",
		"port": 10079
	},
	"rpc_server": {
		"address": "172.16.221.250",
		"port": 8484,
		"encryption": {
			"enabled": false,
			"cert_chain": null,
			"private_key": null
		}
	},
	"policy": "Welcome, this is the default policy for the clank server emulator. \r\n\r\nhttps://github.com/hashsploit/clank",
	"announcements": [
		"This is an announcement."
	],
	"operators": [
		"hashsploit",
		"fourbolt"
	],
	"chat": {
		"enabled": true,
		"blacklist": "blacklisted_words.txt",
		"command_prefix": "/",
		"strip_special_chars": true
	},
	"channels": [
		{
			"id": 1,
			"name": "Channel 1",
			"capacity": 256
		},
		{
			"id": 2,
			"name": "Channel 2",
			"capacity": 256
		},
		{
			"id": 3,
			"name": "Channel 3",
			"capacity": 256
		},
		{
			"id": 4,
			"name": "Channel 4",
			"capacity": 256
		}
	],
	"locations": [
		{
			"id": 1,
			"name": "Location 1"
		},
		{
			"id": 2,
			"name": "Location 2"
		}
	],
	"system_message": {
		"enabled": false,
		"severity": 200,
		"message": ""
	},
	"database": {
		"host": "",
		"database": "",
		"username": "",
		"password": ""
	}
}
