###########################################
# Clank Medius Lobby Server Configuration #
###########################################

#################
# Logging Level #
#################
# Sets the logging verbosity level.
#
# - FINEST = Most verbose, show all messages.
# - FINER = More verbose than fine.
# - FINE = Mainly used for debugging info.
# - INFO = Show only informational messages.
# - WARNING = Show only warnings.
# - SEVERE = Show only fatal/error errors.
#
LogLevel=INFO


#########################
# Server Emulation Mode #
#########################
# Emulation mode/component of this server.
#
# - MEDIUS_AUTHENTICATION_SERVER
# - MEDIUS_LOBBY_SERVER
# - MEDIUS_PROXY_SERVER
# - MEDIUS_NAT_SERVER
# - MEDIUS_UNIVERSE_INFORMATION_SERVER
# - DME_SERVER
#
EmulationMode=MEDIUS_PROXY_SERVER


###################
# Server Bindings #
###################
# The server address and port to bind to. Leave address empty to bind
# to any address.
#
Address=
Port=10077


#####################
# Enable Encryption #
#####################
# Enable and enforce SCE-RT (RSA + RC4) encryption.
# This should always be enabled in a production environment.
#
Encryption=false


##################
# Application ID #
##################
# The game's App Id located in the ISO.
#
# NTSC UYA Application Id = 10684
# PAL UYA Application Id = 10683
# NSTC DL Application Id = 24802
#
ApplicationId=10684


##################
# Server Threads #
##################
# Number of socket handlers and async handlers for handling incoming data.
# The child threads should always be greater than the parent threads. By
# default parent threads are 2, child threads are 8. Adjust these values
# accordingly to better optimize for a test or production environment.
#
ServerParentThreads=1
ServerChildThreads=4


####################
# Discord Webhooks #
####################
# This is an optional setting for shooting specific events to Discord
# Webhooks. Leave blank to disable.
DiscordWebhook_start=
DiscordWebhook_shutdown=
